.top-nav {
  .logo {
    position: absolute;
    top: 0;
  }

  .btn-primary {
    background-color: #e5e5e5;
    color: #ccc;
  }
}

.link-wrap {
  margin: 20px 0;
  text-align: right;
}

.banner {
  padding-bottom: 4em;
  text-align: center;
  background: $header-bg;
  color: #fcfcfc;
}

.custom-logo-link img {
  width: auto;
  margin: $custom-logo-link-margin;
  max-height: $custom-logo-link-max-height;
}

.brand {
  @extend h1;
  display: block;
  margin: 50px 0 20px 0;
  font-size: 3.75em;
}

.intro-text {
  margin: 3em auto 0;
  line-height: 1.6;
  text-align: center;

  &.two-column {
    text-align: left;
    columns: 300px 2;

    @media (min-width: $screen-md-min) {
      max-width: 65%;
	  }
	}

  @media (min-width: $screen-md-min) {
    max-width: 50%;
  }
}

.login-block {
  margin-top: 2em;
  text-align: center;
}
