.top-nav {
  .logo {
    position: absolute;
    top: 0;
  }

  .btn-sm {
    border-radius: 0;
  }

  .btn-primary {
    color: #888;
    background-color: #e5e5e5;
    border-color: #bebebe;

    &:hover {
      background-color: #fafafa;
    }
  }
}

.link-wrap {
  margin: 15px 0;
  text-align: right;
}

.banner {
  padding-bottom: 0;
  text-align: center;
  color: #333;
}

.custom-logo-link img {
  width: auto;
  margin: 10px 0;
}

.container.branding {
  background: $header-bg;
  color: #fcfcfc;
  padding: 75px 0;
}

.branding h2 {
  margin: 25px 0 0;
}

.brand {
  @extend h1;
  display: block;
  margin: 0;
  font-size: 3.75em;

  a:hover, a:focus, a:active {
    color: #ffdc00;
    text-decoration: none;
  }
}

.container.intro {
  color: #333;
  position: relative;
}

.intro-text {
  margin: 0;
  line-height: 1.6;
  text-align: left;

  background: #ffdc00;
  padding: 50px 75px;

  position: absolute;
  top: -40px;
  right: 0;

  &.two-column {
    text-align: left;
    columns: 300px 2;

    @media (min-width: $screen-md-min) {
      max-width: 65%;
	  }
	}

  @media (min-width: $screen-md-min) {
    max-width: 60%;
  }
}

.login-block {
  margin-top: 2em;
  text-align: center;
}
